{% load static %}
<footer class="footer">
    <div class="footer_contenedor contenedor">
        <div class="footer_img">
            <img src="{% static 'img/logo.png' %}" alt="">
        </div>
        <div class="footer_contenido">
            <h4 class="no-margin">Horarios:</h4>
            <p class="no-margin">Martes a Sábados de 13:00 a 15:30 y de 18:00 a 23:00hrs</p>
            <p class="no-margin">Domingos de 13:00 a 19:30hrs</p>
        </div>
        <div class="footer_contenido">
            <h4 class="no-margin">Informacion Legal:</h4>
            <p class="no-margin">Las promociones no son acumulables entre sí. Solo se reciben pedidos de pizzas para retiro en el local o con reparto a domicilio. Zonas de reparto limitadas por el local.</p>
        </div>
    </div>
    <div class="footer_copy">
        <p class="no-margin">Copyright © 2023 <span>La buena pizza</span> | La Buena Pïzza</p>
    </div>
</footer>