{% load static %}
<header class="header">
    <div class="header_contenido">

        <div class="contenedor">
            <div class="barra">

                <a class="logo" href="index">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>

                <nav class="nav">
                    <a href="menu" class="nav_enlace">Menú</a>
                    <a href="nosotros" class="nav_enlace">Nosotros</a>
                    <a href="contacto" class="nav_enlace">Contacto</a>
                </nav>

            </div>
        </div>

        <div class="header_texto">
            <p class="no-margin header_parrafo header_parrafo--color">Valdivia - Chile</p>
            <h2 class="no-margin header_titulo">La buena pizza</h2>
            <p class="no-margin header_parrafo">Conoce nuestras variedades y disfruta compartiendo las pizzas más buenas de Valdivia.</p>
        </div>
    </div>
</header>