<div class="pedido">
    <b>Enviar a:</b> {{ pedido.direccion }}
    <ul>
        {% for item in items %}
            {% if item.pedido == pedido %}
                <li>
                    {{ item.cantidad }}x {{ item.producto.nombre }} 
                    {% if item.tamano != "AC" %}
                        {{ item.get_tamano_display }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% if pedido.estado == "PD" %}
        <a href="pedidos/enviar/{{ pedido.pk }}">Preparado</a>
    {% else %}
        <a href="pedidos/recibir/{{ pedido.pk }}">Recibido</a>
    {% endif %}
    <a href="pedidos/cancelar/{{ pedido.pk }}">Cancelar</a>
</div>