{% load static %}

<img class="menu__info__img" src="{% static 'img/camaron_parmesano.jpg' %}" alt="Pizza de camaron parmesano">
                
<div class="menu__info__descripcion">
    <h3>{{ pizza.nombre }}</h3>
    <p>{{ pizza.ingredientes }}</p>
</div>

<div class="menu__info__compra">
    <div class="menu__info__precios">
        {% if precios_mult %}
            <p>${{ pizza.precio_mediana|floatformat:"g" }}</p>
            <p>${{ pizza.precio_familiar|floatformat:"g" }}</p>
        {% else %}
            <p>${{ pizza.precio_unico|floatformat:"g" }}</p>
        {% endif %}
    </div>
    <div class="menu__info__pagar">
        {% if precios_mult %}
            <div class="contador">
                <a onclick="modificar_pedido({{ pizza.pk }}, 'mediana', false)">-</a>
                <input autocomplete="off" disabled type="number" value="0" id="boton-{{ pizza.pk }}-mediana" name="boton-{{ pizza.pk }}-mediana">
                <a onclick="modificar_pedido({{ pizza.pk }}, 'mediana')">+</a>
            </div>
            <div class="contador">
                <a onclick="modificar_pedido({{ pizza.pk }}, 'familiar', false)">-</a>
                <input autocomplete="off" disabled type="number" value="0" id="boton-{{ pizza.pk }}-familiar" name="boton-{{ pizza.pk }}-familiar">
                <a onclick="modificar_pedido({{ pizza.pk }}, 'familiar')">+</a>
            </div>
        {% else %}
            <div class="contador">
                <a onclick="modificar_pedido({{ pizza.pk }}, 'acompanamiento', false)">-</a>
                <input autocomplete="off" disabled type="number" value="0" id="boton-{{ pizza.pk }}-acompanamiento" name="boton-{{ pizza.pk }}-acompanamiento">
                <a onclick="modificar_pedido({{ pizza.pk }}, 'acompanamiento')">+</a>
            </div>
        {% endif %}
    </div>
</div>